# after adding a file that was previously tracked, run git rm --cached

### Personal Files ###

# Great Learning's copyrighted Problem statement (assignment description)
.problem_statement.md

# Great Learning's copyrighted data set
Loan_Modelling.csv
# >100MB; can't commit to GitHub.
US.txt 


# My file submission that's a pretty rough working copy
*AIML_ML_Project_full_code_notebook.ipynb

# Great Learning's copyrighted notebook on Decision Trees in general
*ML_Week2_DecisionTree_Notebook.ipynb


### Git ###
# Created by git for backups. To disable backups in Git:
# $ git config --global mergetool.keepBackup false
*.orig

# Created by git when using merge tools for conflicts
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

*.code-workspace


### Python ###

# Python modules
node_modules/

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

# End of https://www.toptal.com/developers/gitignore/api/jupyternotebooks